
.input-border input[type=text],
.input-border input[type=number],
.input-border input[type=email] {
    border: 2px solid #ddd;
    border-radius: 3px !important;
    padding: 0 8px !important;
    margin: 15px 0 10px 0 !important;
    height: 40px !important;
}

.input-border input[type=text]:focus,
.input-border input[type=number]:focus,
.input-border input[type=email]:focus {
    border-color: #444 !important;
    border-bottom: 1px solid #444 !important;
    box-shadow: 0 1px 0 0 #444 !important;
}

.input-border label {
    color: black;
    top: -75px;
    position: relative;
    font-weight: bold !important;
}

.input-border input[type=text]:focus + label,
.input-border input[type=number]:focus + label,
.input-border input[type=email]:focus + label {
    color: #111 !important;
}

[type="checkbox"].filled-in:checked + span:after,
[type="checkbox"].filled-in:checked + span:not(.lever):after {
    background-color: #444444; 
    border: 2px solid #444444;
}

.input-border span {
    color: black !important;
}
/* texto en negritas */
.bold{
    font-weight: bold;
}

.line-card{
    border-right: 1px solid #ddd;
    height: 400px;
}

.esquinasRedondas {
    border-radius: 25px !important;
}

.center-button {
    display: flex !important;
    justify-content: center !important;
}

/* paddings */
.p-1{
    padding: .25rem !important;
}

.p-3{
    padding: .75rem !important;
}

.p-4{
    padding: 1rem !important;
}

.p-5{
    padding: 1.25rem !important;
}

.px-3{
    padding-left: .75rem !important;
    padding-right: .75rem !important;
}

/* inputs */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    color: white;
    background: #444;
    display: inline-block;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 3px !important;
}
.custom-file-upload:hover {
    background: #e0e51d;
    border: 2px solid #e0e51d;
}
